<%# fix the indenting %>
<%= provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
      Video store "Help page"
    </p>
<body>
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div id="sidebar" class="col-xs-3">
        <!-- sidebar content -->
	sidebar text
      </div>
      <div id="main-content" class="col-xs-9">
        <!--  main content -->
	main body text
      </div>
    </div>
  </div>

  <table class="table-striped">
    text inside the table
  </table>

</body>
</html>
