        <div class="col-md-3">
          <p class="lead">Filter Result</p>
          <div class="list-group">
            <a href="#" class="list-group-item">Viewer Rating</a>
            <a href="#" class="list-group-item">Genre</a>
            <a href="#" class="list-group-item">Actors</a>
          </div>
	</div>

 
