  <div class="col-md-9">
      
      <div class="row carousel-holder">
	    
            <div class="col-md-12">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">
                  <div class="item active">
                    <img class="slide-image"
			 <%= link_to image_tag("Screenshot-2018-1-5 The Nut Job 2 Nutty by Nature.png",
			     size: "850x320",   alt: "image missing"),
			     'http://www.imdb.com/title/tt0088247/' %>
                  </div>
                  <div class="item">
		    <%= link_to image_tag("Screenshot-2018-1-5 Swinging Safari.png",
			size: "850x320",   alt: "image missing"),
			'https://www.eventcinemas.com.au/Movie/Swinging-Safari#date=2018-01-13' %>
		    
                  </div>
                  <div class="item">
		    <%= link_to image_tag("Screenshot-2018-1-5 Sweet Country.png",
			size: "850x320",   alt: "image missing"),
			'https://www.eventcinemas.com.au/Movie/Sweet-Country#date=2018-01-21' %>
                  </div>
		</div>
		
		<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		
		<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
		
              </div>
            </div>
	    
      </div>
  </div>
  
