<div class="row">
  <div class="col-md-6">
    <h2> Search All Movies </h2>

    <div>
      <%= form_tag(videos_path, method: "get") do %>
        <%# fix this indenting %>
      <%= label_tag 'Movie Title' %>
      <%= text_field_tag 'title' %>
      <%= submit_tag "web_search" %>
      <% end %>
    </div>
  </br></br> <%# don't need to use two, if you do, probably better to handle in the css %>
  </div>
</div>

