<body>
  
  <div class="container">
    
    <%= render partial: "partials/detailed", object: @movie %></br></br>
    <%= form_tag videos_path do %>
    <%= hidden_field_tag :title , @movie[:title] %>
    <%= submit_tag "Save" %>
    <% end %>

  </div>
  
</br></br>
</div>

</body>

