<body>
  
  <%= render 'partials/jumbotron' %>    
  
  <div class="container">
    
    <%= render partial: "partials/detailed", object: @movie %></br></br>
    <%= render 'partials/thumbnails' %>
    
  </div>
  
</br></br>
</div>

</body>

