<div class="row">
  
  <%= render 'partials/account_info' %>    
  <%= render 'partials/carousel' %>
        <h1>Matthews List of Videos</h1>
  <%= render 'partials/new_video' %>

</br></br>
</div>


