<div class="row">

  <h1>Results Found From Available List of Videos</h1>

  <div>
    <%= render partial: "partials/simple", object: @video %>
  </div>
  </br>

  <%# style in css %>
	<p style="font-size:16px"> Can't see the movie you are seeking? </p>

  <%= render 'partials/find_movie' %>

</br></br>
</div>


