<div class="row">
  
  <%= render 'partials/account_info' %>    
  <%= render 'partials/carousel' %>    
  <%= render 'partials/thumbnails' %>
  <%= render 'partials/add_video' %>    

</br></br>
</div>


