<div class="col-sm-2 pull-left index-filter-buttons index-new-button-wrapper">
  <%= link_to path, class: 'btn btn-primary quick-edit-open quick-edit-add', data: {
    'form-url' => form,
    'table-id' => "##{table}"
  } do %>
      New <i class="fa fa-plus"></i>
  <% end %>
</div>
