 <div class="container">
    <div id="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%=key%> <%=key%>">
      <%= value %>
    </div>
      <% if warn %><div class="alert alert-warning"><%= alert %></div><% end %>
    <% end %>
    
