<!-- Footer -->
<footer class="footer navbar-fixed-bottom">
  <div class="row">
    <div class="col-lg-12">
      Copyright &copy; Matthews Video Store 2021
      <ul>
        <%# indenting here is wrong, <li> should be two spaces in from the <ul> above, also other indenting on this page isn't correct %>
	<li><%= link_to "About", about_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
      </ul>
     </div>
  </div>
</footer>


