	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="col-sm-6" id="search">
	  <form class="form-inline foo"
		action="/videos/"
		method="GET">
	    <input class="form-control"
		   type="text" name="search_string"
		   placeholder="Keyword Search">
	    <div class="checkbox">
	      <% fields = ["title", "actors", "theme"] %>
	      <% fields.each do |field| %>
	      <label>
		<%= field %>
		<input type="checkbox"
		       name=<%="#{field}"%>
		       value=true
		       method="GET">
	      </label>
	      <% end %>
	      <button class="btn btn-outline-success"
		      id="header-button"
		      type="submit"
		      name="commit"
		      value="site_search">Site Search
          <%# text turns white on hover and can no longer be seen %>
          <%# also no validation errors are showing up, possibly due to error text colour, the checkbox next to search are
          likely unnessary same for the keyword matching box, better to just search all possible fields and then display result to user
          at most you could scope the search to within page, e.g. if you were in horror and search an actor it would find horror movies with
          that actor but that is outside of the scope of this project %>
	      </button>
	    </div>
	  </form>
	</div>

