	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="col-sm-6" id="search">
	  <form class="form-inline foo"
		action="/videos/"
		method="GET">
	    <input class="form-control"
		   type="text" name="search_string"
		   placeholder="Keyword Search">
	    <div class="checkbox">
	      <% fields = ["title", "actors", "theme"] %>
	      <% fields.each do |field| %>
	      <label> 
		<%= field %>
		<input type="checkbox"
		       name=<%="#{field}"%>
		       value=true
		       method="GET">
	      </label>
	      <% end %>
	      <button class="btn btn-outline-success"
		      id="header-button"
		      type="submit"
		      name="commit"
		      value="site_search">Site Search
	      </button>
	    </div>
	  </form>
	</div>
	
